<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="row header-row task-entry" style="margin-top:5px;">
    <div class="col-md-2 text-center">Task</div>
    <div class="col-md-2 text-center">Start - End Date</div>
    <div class="col-md-2 text-center">Compliance Category</div>
    <div class="col-md-2 text-center">Compliance Sub Category</div>
    <div class="col-md-2 text-center">Assignee</div>
    <div class="col-md-2">Status</div>
</div>
{% for data in task_list %}
    <div class="card task-entry">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2" style="padding: inherit;">
                    <p class="card-title" style="color: orange;">{{data.subject}}</p>
                    <p class="card-subtitle mb-2">{{ data.project_name }}</p>
                    {% if data.customer %}
                    <p class="card-text">
                        Customer: <span style="font-weight:bold;">{{data.customer}}</span>
                    </p>
                    {% endif %}
                </div>
                <div class="col-md-2 text-center" style="padding: inherit;">
                    {{ data.exp_start_date }} <br>- {{ data.exp_end_date }}
                </div>
                <div class="col-md-2 text-center" style="padding: inherit;">
                    {{ data.compliance_category }}
                </div>
                <div class="col-md-2 text-center" style="padding: inherit;">
                    {{ data.compliance_sub_category }}
                </div>
                <div class="col-md-2 text-center" style="padding: inherit;">
                    <p class="card-text">
                        {% if data._assign %}
                            {% for assignee in data._assign %}
                                {{ assignee }}<br>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-1" style="padding: inherit; color:red;" status-span="{{ data.status }}">
                  {{ data.status }}
                </div>
                <div class="col-md-1" style="padding: inherit;">
                    <button class="btn btn-outline-primary btn-icon timeEntryButton" task-id="{{ data.name }}" project-id="{{ data.project }}" assignees="{{ data._assign }}" data-toggle="tooltip" title="Time Sheet">
                        <i class="fas fa-clock"></i>
                    </button>
                    <button class="btn btn-outline-info btn-icon documentButton" sub-category="{{ data.compliance_sub_category }}" customer="{{ data.customer }}" data-toggle="tooltip" title="Documents">
                        <i class="fas fa-file-alt"></i>
                    </button>
                    <button class="btn btn-outline-success btn-icon credentialButton" sub-category="{{ data.compliance_sub_category }}" customer="{{ data.customer }}" data-toggle="tooltip" title="Credentials">
                        <i class="fas fa-key"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
