/* Style to each task card */
.card {
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: None;
        border-radius: 8px;
        overflow: hidden;
        padding: 2px;
        background-color: aliceblue;
    }
    /* background color to the main page */
    .layout-main-section.frappe-card {
      background-color: #fdf7f9;
    }
    /* background color to the filter form */
    .page-form {
      background-color: #fdf7f9;
    }
    /* transparent background to the header tag */
    .list-row-head {
      background-color: transparent;
    }
    /* padding to each card body */
    .card-body {
        padding: 10px 20px 10px 20px;
    }
    /* Alignment for Assignee section */
    .card-text {
        margin-bottom: 15px;
    }
    /* style to button */
    .btn{
        max-width: 100px;
        max-height: 30px;
        margin: auto 0px;
    }
    /* style to the project link */
    .project-link{
      display: inline-block;
      max-width: 100%; /* Adjust as needed */
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .project-link:hover {
        max-width: none;
        white-space: normal;
    }
