<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="frappe-list">
  <div class="result">
    <header class="level list-row-head text-muted">
      <div class="level-left list-header-subject" style="margin-top:5px;">
          <div class="col-md-4 text-center">Project</div>
          <div class="col-md-2 text-center">Status</div>
          <div class="col-md-1 text-center">Expected End Date</div>
          <div class="col-md-3 text-center assignee-section">Assigned To</div>
      </div>
    </header>

    {% for data in project_list %}
    <div class="card project-entry">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4" style="padding: inherit;">
                      <a class="card-subtitle project-link showTask" href="" project="{{ data.name }}">{{ data.project_name }}</a>
                </div>
                <div class="col-md-2 text-center" style="padding: inherit;">
                    {{ data.status }}
                </div>
                <div class="col-md-1 text-center" style="padding: inherit;">
                    {{ data.expected_end_date }}
                </div>
                <div class="col-md-3 text-center" style="padding: inherit; position:relative;">
                    <p class="card-text assignee-section">
                        {% if data._assign %}
                            {% for assignee in data._assign %}
                                <a href="/app/employee/{{ assignee.employee_id }}">{{ assignee.employee_name }}</a><br>
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
                <button class="col-md-1 btn btn-outline-success btn-sm showTask" project="{{ data.name }}">
                    View Task
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
