/* Set a minimum height for elements with the class frappe-card */
.frappe-card {
  min-height: 300px;
}

/* Hide elements with the class 'nested' by default */
.nested {
  display: none;
}

/* Show elements with the class 'nested' when the 'active' class is applied */
.active {
  display: block;
}
